
h1 {
	font-size: 2em;
}

a {
	text-decoration: none;
}

ol, ul {
	list-style: none;
	border: 0;
	margin: 0;
	padding: 0;
}

.disabled>a {
	cursor: not-allowed;
}

.form-control {
	display: block;
	width: 100%;
	height: 28px;
	padding: 6px 12px;
	border: none;
	outline: none;
	font-size: 1em;
	background-color: #fff;
	border: 1px solid #ccc;
	vertical-align: middle;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.form-control:focus {
	border: 1px solid #3AA1BF;
}

textarea.form-control {
	height: auto;
	overflow: auto;
}

.btn {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	border-radius: 2px;
	text-align: center;
	white-space: nowrap;
 	vertical-align: middle;
	font-size: 1em;
	background-color: #fff;
	color: #666;
	background-image: none;
	border: 1px solid #ccc;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

body {
	height: 100%;
	margin: 0;
}

#wrap {
	position: absolute;
	top: 0;
	width: 100%;
}

#header {
	display: block;
	height: 32px;
	padding-top: 16px;
	padding-bottom: 12px;
	background-color: #f1f1f1;
	border-bottom: 1px solid #e5e5e5;
}

#logo {
	display: inline-block;
	width: 128px;
	font-family: cursive;
	font-size: 24px;
	line-height: 32px;
	text-align: center;
	vertical-align: middle;
}

#logo-content {
	display: block;
}

#logo-content-v {
	color: #3AA1BF;
}

#logo-content-a1 {
	color: #F2385A;
}

#logo-content-r {
	color: #56D9CD;
}

#logo-content-n {
	color: #3AA1BF;
}

#logo-content-a2 {
	color: #F5A503;
}

#logo-content-m {
	color: #F2385A;
}

#logo-content-e {
	color: #56D9CD;
}

#search-form {
	display: inline-block;
	width: 60%;
	max-width: 600px;
}

#search-input {
	position: relative;
}

#search-input-q {
	width: 100%;
	padding: 0px 72px 0px 12px;
	height: 28px;
	border: 1px solid #ccc;
	outline: none;
	font-size: 16px;
	white-space: nowrap;
	vertical-align: middle;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#search-input-q:focus {
	border-color: #3AA1BF;
}

#search-input-btn {
	position: absolute;
	top: 2px;
	bottom: 2px;
	right: 2px;
	left: auto;
	padding: 2px 0;
	min-width: 64px;
	border: none;
	border-radius: 2px;
	background-color: #fff;
	color: #ccc;
	text-align: center;
	font-family: "feather";
	font-size: 16px;
}

#search-input-btn:hover {
	background-color: #ccc;
	color: #fff;
	cursor: pointer;
}

#search-input-btn:focus {
	outline: none;
}

#menu {
	position: absolute;
	right: 32px;
	display: inline-block;
	border: none;
}

.submenu {
	display: inline-block;
}

.menu-button {
	display: block;
	width: 32px;
	height: 32px;
	border: none;
	border-radius: 2px;
	color: #ccc;
	font-family: "feather";
	font-size: 16px;
	line-height: 32px;
	text-align: center;
	vertical-align: middle;
}

.menu-button:hover {
	background-color: #ccc;
	color: #fff;
}

.menu-tab {
	position: absolute;
	display: none;
	padding: 1px;
	margin-left: -100px;
	margin-top: 12px;
	background-color: #fff;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 1px solid #ccc;
	border-radius: 2px;
	-webkit-box-shadow: 0 2px 10px #ccc;
	-moz-box-shadow: 0 2px 10px #ccc;
	box-shadow: 0 2px 10px #ccc;
}

.menu-tab>.menu-tab-arrow, .menu-tab>.menu-tab-arrow:after {
	position: absolute;
	display: block;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
}

.menu-tab>.menu-tab-arrow {
	border-width: 11px;
	margin-top: -12px;
	margin-left: 103px;
	border-top-width: 0;
	border-bottom-color: #ccc;
}

.menu-tab>.menu-tab-arrow:after {
	content: "";
	border-width: 10px;
	top: 1px;
	margin-left: -10px;
	border-top-width: 0;
	border-bottom-color: #fff;
}

.menu-item {
	display: block;
	padding-left: 12px;
	width: 116px;
	height: 32px;
	border-bottom: 0;
	color: #666;
	font-size: 16px;
	line-height: 32px;
	vertical-align: middle;
}

.menu-item-last {
	border-bottom: 1px solid #ccc;
}

.menu-item:hover {
	background-color: #f1f1f1;
}

#footer {
	display: block;
	padding: 18px 128px;
	background: #f1f1f1;
	color: #666;
	font-size: small;
	border-top: 1px solid #e5e5e5;
}

#footer a {
	color: #666;
	text-decoration: none;
 	white-space: nowrap;
}

#footer a:hover {
	color: #222;
}

#footer-copyright {
	display: inline-block;
}

#footer-info {
	display: inline-block;
	margin-left: 10px;
}

#footer-info ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#footer-info li {
	display: inline-block;
	line-height: 16px;
}

#footer-info li+li {
	margin-left: 10px;
}

#content {
	display: block;
	margin-left: 128px;
	width: 60%;
	max-width: 600px;
	color: #666;
}

#search-list {
	margin: 12px 0 0;
}

.search-li {
	border: 0;
	padding: 0;
	line-height: 1.2;
}

.search-title {
	display: block;
	margin: 0;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.search-title > a {
	color: #3AA1BF;
}

.search-title > a:visited {
	color: #56D9CD;
}

.search-cite {
	line-height: 16px;
	color: #F5A503;
	white-space: nowrap;
	word-wrap: break-word;
}

.search-caption {
	margin-top: 0;
	max-width: 42em;
	line-height: 18px;
	word-wrap: break-word;
}

#search-paging {
	margin: 12px 0;
}

#search-page-list li {
	display: inline-block;
}

#search-page-list a {
	color: #F2385A;
}

#search-page-list .disabled>a {
	color: #ccc;
}

#entry-abbrs ul>li {
	display: inline-block;
	padding: 4px 6px;
	background: #f1f1f1;
	font-size: small;
}

#entry-abbrs a {
	color: #666;
}

#entry-comments {
	margin-top: 24px;
}

#entry-comments-head {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	border-bottom: solid 1px #ccc;
}

#entry-comments-head a {
	color: #666;
}

#entry-comments-head h2 {
	margin: 0;
	padding-bottom: 3px;
}

#entry-comments-head a {
	margin: 0;
	padding-bottom: 3px;
}

#entry-comments-list>li {
	border-bottom: solid 1px #e5e5e5;
}

.entry-comment-wrap {
	padding: 12px 0;
	display: flex;
}

.entry-comment-avatar {
	display: none;
	width: 48px;
	height: 48px;
	margin-right: 12px;
}

.entry-comment-head time { 
	margin-left: 12px;
	color: #ccc;
}

#entry-comments-new .entry-comment {
	width: 100%;
}

#entry-comments-new .entry-comment-head {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin-bottom: 12px;
}

#entry-comments-new .entry-comment-content {
	margin-bottom: 12px;
}
