			</section>
			<footer id="footer">
				<section id="footer-copyright">
					&copy; 2015 <a href="/">VarName</a>
				</section>
				<section id="footer-info">
					<ul>
						<li><a href="/terms">Terms</a></li>
						<li><a href="/about">About</a></li>
					</ul>
				</section>
			</footer>
		</div>
	</body>
</html>
